@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.vsc-initialized {
    background-color: rgb(0, 0, 0);
    font-family: 'KCC-Hanbit';
    
}

.review-create-pop {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(152, 152, 152);
}

.pop-info-1 {
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.pop-info-2 {
    width: 40vw;
    height: 40vh;
    border-radius: 10px;
}

.go-to-toggle {
    cursor: pointer;
}

.modal-cancel-button {
    cursor: pointer;
}

.modal-footer {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

/* review create popup modal */

.movie_img {
    width: 500px;
    grid-area: 1/1 / 5/1;
    place-items: center;
    align-items: center;
}

.movie_title {
    font-family: 'TmonMonsori';
    grid-area: 1/2 / 1/2;
}

.movie_info {
    background-color: rgb(156, 156, 156);
    width: 500px;
    grid-area: 2/2 / 4/2;
}

.movie_actor {
    grid-area: 5/2 / 5/2;
}


.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
}

.review_card {
    background-color: aqua;
}


/* review modify popup modal */
.registed-modify-button {
    cursor: pointer;
}

.review-modify-pop {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(173, 173, 173);
}

.pop-info-3 {
    width: 35vw;
    height: 35vh;
    border-radius: 10px;
}

.content {
    display: grid;

    place-items: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    margin: 30px;
}

.movie_img {
    height: fit-content;
    grid-area: 1/1 / 5/1;
    place-items: center;
    align-items: center;
}

.movie_title {
    grid-area: 1/2 / 1/2;
    font-size: 70px;
}

.movie_info {
    background-color: rgb(143, 143, 143);
    width: 500px;
    grid-area: 2/2 / 4/2;
}

.back {
    grid-area: 5/2 / 5/2;
    font-size: 20px;
    color: black;
}

.review {
    background-color: rgb(255, 255, 255);
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.mb-3 {
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.mb-3>label {
    margin-right: 10px;
    width: auto;
}

.review_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.review_card_body {
    height: 300px;
}


.subPage {
    display: grid;
    margin: 2% 10% 2% 10%;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.movieImg {
    grid-column: 1;
    grid-row: 1 / 6;
    background-color: white;
    border-radius: 10px;
    margin: 1%;
}

.movieTitle {
    grid-column: 2;
    grid-row: 1;
    font-size: xx-large;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: 1%;
}

.movieOverview {
    grid-column: 2;
    grid-row: 3;
    font-size: x-large;
    background-color: white;
    border-radius: 10px;
    margin: 1%;;
}

.movieRate {
    grid-column: 2;
    grid-row: 5;
    font-size: x-large;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: 1%;
}

.review-create {
    margin: auto;
    display: block;
}

.go-to-main {
    margin: 3% auto 3% auto;
    display: block;
}

.card-body {
    display: grid;
    margin-top: 3%;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px 3px rgba(255, 255, 255, 0.7);
    transition-duration: 0.3s;
    border-radius: 10px;
}

.card-title {
    grid-column: 1;
    grid-row: 1;
}

.card-score {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

.card-text {
    grid-column: 1 / 2;
    grid-row: 2;
}

.registed-modify-button {
    width: 30%;
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
}

.review-modify-wrapper {
    margin: 3% 10% 3% 10%;
}

.modal-body p {
    color: white;
}

.input-group-text {
    background-color: rgb(0, 0, 0);
}