@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'KCC-Hanbit';
}

.content {
    display: grid;
    grid-template: 0.3fr 0.5fr 0.1fr 0.1fr / 0.5fr 0.3fr 0.2fr;
    grid-template-areas: 
        "i t"
        "i info"
        "i s"
        "i b"
    ;
    
    place-items: center;
    align-items: center;
    
    background-color: green;
}

.movie_img {
    grid-area: i;
}

.movie_title {
    grid-area: t;
    font-size: 80px; 
}

.movie_info {
    background-color: hotpink;
    grid-area: info;
    font-size: 20px
}

.movie_star {
    grid-area: s;
    font-size: 20px;
    
}

.back {
    grid-area: b;
    color: black;
    font-size: 20px;
}







.review {
    background-color: purple;
    height: 500px;

    display: grid;
    grid-template: repeat(3, 1fr) / 0.3fr 0.3fr 0.4fr;
    grid-template-areas: 
        "h n s"
        "h r r"
        "h p p"
    ;

    align-items: center;
}
.review_name {
    grid-area: n;
}

.review_star {
    grid-area: s;
}

.review_content {
    grid-area: r;
}

.review_pw {
    grid-area: p;
}



.review_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.review_card_body {
    background-color: aqua;
    height: 300px;
}
