/* review popup modal */
.review-pop {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(255, 134, 178);
}

.pop-info-1 {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
}

.pop-info-2 {
    width: 30vw;
    height: 30vh;
}

.go-to-toggle {
    cursor: pointer;
}

.modal-cancel {
    cursor: pointer;
}

.modal-footer {
    position: fixed;
    bottom: 1vw;
    right: 1vw;
}

.pop

.content {
    display: grid;
    background-color: green;
    margin: 30px;
}

.movie_img {
    width: 500px;
    grid-area: 1/1 / 5/1;
    place-items: center;
    align-items: center;
}

.movie_title {
    grid-area: 1/2 / 1/2;
}

.movie_info {
    background-color: blue;
    width: 500px;
    grid-area: 2/2 / 4/2;
}

.movie_actor {
    grid-area: 5/2 / 5/2;
}


.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: purple;
}

/* .mb-3 {
    scale: 150%;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.mb-3>label {
    margin-right: 10px;
} */

.review_card {
    background-color: aqua;
}