

.content {
    display: grid;
    background-color: green;
    margin: 30px;
}

.movie_img {
    width: 500px;
    grid-area: 1/1 / 5/1;
    place-items: center;
    align-items: center;
}

.movie_title {
    grid-area: 1/2 / 1/2;
}

.movie_info {
    background-color: blue;
    width: 500px;
    grid-area: 2/2 / 4/2;
}

.movie_actor {
    grid-area: 5/2 / 5/2;
}


